@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    flex-wrap: wrap;
}
* {
    font-family: 'Roboto', sans-serif;   
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid black;
}
.logo {
    width: 112px;
    height: auto;
    margin-left: 121px;
    margin-top: 21px;
}
.advert ul {
    margin-left: 121px;
}
.advert li {
    float: left;
    margin-right: 80px;
    margin-top: 97px;
    font-size: 20px;
}
.advert li:first-child{
    list-style-image: url(./images/globe.png);
}
.advert li:nth-child(2){
    list-style-image: url(./images/clock.png);
}
.advert li:last-child {
    list-style-image: url(./images/calendar.png);
}
h1 {
    margin-left: 132px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
}
.left, .right, .text, .cameramen-on-feet {
    display: inline-block;
}
.kak p {
    margin-left: 121px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.right {
    width: 304px;
    height: 356px;
    margin-left: 890px;
    margin-top: -330px;
}
.quotation {
    margin: 0 auto;
    background-color: #1E4681;
    border-radius: 5px;
    width: 483.63px;
    height: 200px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.quotation :first-child {
    margin-left: 26px;
    padding-top: 20px;
}
.quotation p:nth-child(2) {
    font-size: 20px;
    text-align: end;
    margin-right: 18px;
    margin-top: -20px;
}
h2 {
    margin-top: 175px;
    margin-left: 121px;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}
.text {
    width: 662px;
    height: 374px;
    margin-left: 121px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.cameraman-on-feet {
    display: inline-block;
}
.cameraman-on-feet img {
    padding-left: 120px;
    width: 366px;
}
.duration {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 94px;
    /* border: solid red 1px; */
}
.cameraman-sitting {
    display: inline-block;
    width: 232px;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 640px;
}
.info-all {
    /* border: solid green 1px; */
    display: inline-block;
    width: 150px;
}
.info-all h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.info-all p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.format-details {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding-left: 122px;
}
.fdetails h3 {
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.fdetails p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.cto div {
    height: 386px;
    width: 662px;
    margin-left: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;    
}