@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    display: flex;
    flex-wrap: wrap;
}
* {
    font-family: 'Roboto', sans-serif;   
}

div {
    border: 1px solid black;
    width: 100%;
    height: auto;
}
.logo {
    width: 8%;
    height: auto;
    margin-left: 8.4%;
    margin-top: 21px;
}
li {
    float: left;
    margin-left: 7.6%;
    margin-top: 97px;
}
li:first-child{
    list-style-image: url(./images/globe.png);
}
li:nth-child(2){
    list-style-image: url(./images/clock.png);
}
li:last-child {
    list-style-image: url(./images/calendar.png);
}
/* .image {
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}

ul {
    position: absolute;
    width: 800px;
    height: 32px;
    left: 151px;
    top: 187px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    list-style-type: square;
}
li {
    padding: 16px;
    display: inline;
}
.l1 {
    list-style-image: url(images/globe.png);
}
.kak {
    display: flex;
    justify-content: space-around;
} */